html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'MuseoSans', sans-serif;
}

#title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);*/
  line-height: 90%;
  text-transform: uppercase;
}

#title > span {
  background: #00ACC8;
  padding: 0px 12px;
}

span.small {
  font-size: 80%;
}

#hfcrlogo {
  position: absolute;
  bottom: 0px;
  left: 15px;
  background: #00ACC8;
  padding: 10px;
  color: #FFF;
  font-weight: 900;
  font-size: 19px;
  width: 216px;
  text-align: center;
}

#progressMarker {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  margin-top: -75px;
}

#bikeData, #rowData {
  position: absolute;
  font-family: 'MuseoSans', sans-serif;
  font-weight: 900;
  color: #2ECC71;
  height: 90px;
  margin-top: -45px;
  top: 50%;
  left: 100%;
  width: 200px;
  text-shadow: 0px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(255,255,255,1), 0px 0px 3px rgba(255,255,255,1);
}

#rowData {
  left: auto;
  right: 100%;
  color: #E67E22;
  text-align: right;
}

.distance {
  font-size: 40px;
}
.units {
  font-size: 35px;
  color: #fff !important;
  text-shadow: 0px 0px 3px rgba(0,0,0,1) !important;
}

.togo .distance {
  font-size: 34px;
}
.togo .units {
  font-size: 23px;
}